<link rel="stylesheet" href="/petprofile.css">
<div class="container-fluid container-individual  mb-5">

  <div class="card mb-3">
    <div class="inner">
      <img class="card-img-top" src="{{petprofile.url}}" style="object-fit:cover;" />

    </div>
    <div class="card-body">
      <h5 class="card-title">{{petprofile.name}}</h5>
      <hr />
      <div class="about">
        <span>
          <ul>

            <li class="inline"><b>Category:</b>{{petprofile.category}}</li><br>
            <li class="inline"><b>Breed</b>:{{petprofile.breeds}}</li><br>
            <li class="inline"><b>Age</b>:{{petprofile.age}}</li><br>
            <li class="inline"><b>Color</b>:{{petprofile.color}} <br></li>
            <li class="inline"><b>Weight</b>: 5kgs <br></li>
            <li class="inline"><b>Height</b>: 2 feet <br></li>
          </ul>
        </span>


      </div>
      <hr>
      <div class="look">
        <span <ul>


          <li class="inline"><b>Description</b>:{{petprofile.description}}</li>
          </ul>
        </span>


      </div>
      <hr>




      <hr>
      <div class="look">
        <span <ul>


          <li class="inline" id="lowercase"><strong><b>Contact Info Of the Owner</b></strong> :
            ravuridivya@gmail.com</li>
          </ul>
        </span>


      </div>
      <hr>
      <div class="location">
        {{!-- <span <ul>

          <li class="inline">{{petprofile.location}}</li>

          </ul> --}}
        </span>
        <hr>
      </div>
      <div class="desc">
        <p>{{petprofile.desc}} </p>
      </div>

      <div class="other">

        <span <ul>
          <b>Vaccinated:</b>
          {{#if petprofile.vaccinated}}
          <li class="inline">Yes</li>
          {{else}}
          <li class="inline">No</li>
          {{/if}}
          <b>Trained:</b>
          {{#if petprofile.trained}}
          <li class="inline">Yes</li>
          {{else}}
          <li class="inline">No</li>

          {{/if}}

          </ul>
        </span>


      </div>
      <hr>
      {{#unless petprofile.adopted}}
      <button type="button" value="{{petprofile._id}}" class="btn btn-block btn-adopt">Adopt</button>
      {{else}}
      <h4 class="alert alert-success text-center">Already Adopted</h4>
      {{/unless}}
    </div>
  </div>

</div>